# Twilio Credentials
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

# OpenAI API Key
CHATGPT_API_KEY=your_openai_api_key

# Database URL
DATABASE_URL=sqlite:///./your_database.db #mysql+pymysql://user:password@localhost/dbname

# Application Settings
BASE_URL=http://localhost:8000