fastapi
uvicorn
sqlalchemy
pymysql
boto3
twilio
openai
python-dotenv
pydantic-settings
requests
httpx
vosk
websockets
assemblyai
botocore
deepgram-sdk
docx
PyPDF2
numpy
python-docx
pydub
pyht
soundfile
python-multipart
pyngrok
